[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HTLR"]
	path = HTLR
	url = https://github.com/longhaisk/htlr
	shallow = true
	registered = true
